body{
    background-size:auto;
    margin: 0;
    /* background-image: url('../images/asanoha-400px/asanoha-400px/asanoha-400px.png'); */
    /* background-image: url('../images/jason-leung-479251-unsplash.jpg'); */
    /* background-image: url('../images/christopher-burns-253179-unsplash.jpg') */
}


.questionBox{
    max-width: 960px;
    max-height: 960px;
    background-color: antiquewhite;
}

.answers{
    max-width: 960px;
    max-height: 150px;
    background-color: bisque;
}

h1{
    font-family: 'Tillana', cursive;
    font-size: 40pt;
    font-weight: 500;
    text-decoration: underline;
}

h2{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20pt;
    
    
}

.words{
    font-size: 16pt;
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: center;
    font-weight: 250;
    
}